@charset "utf-8";
/* CSS Document */

/* -------------------------------------------------- **

   Reset Stylesheet

html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark

** -------------------------------------------------- */
article,aside,details,figcaption,figure,footer,header,hgroup,hr,menu,nav,section{display:block}a,hr{padding:0}abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}ins,mark{background-color:#ff9;color:#000}body{line-height:1}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;font-size:100%;vertical-align:baseline;background:0 0}ins{text-decoration:none}mark{font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{height:1px;border:0;border-top:1px solid #ccc;margin:1em 0}input,select{vertical-align:middle}*,::after,::before{box-sizing:border-box}

/* -------------------------------------------------- **

   Exastro documents css

** -------------------------------------------------- */
html, body {
height: 100%;
}
body {
background-color: #333;
font-size: 10px;
font-family: 'メイリオ', Meiryo,'Osaka','ＭＳ Ｐゴシック','MS PGothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
color: #FFF;
}
#container {
min-width: 320px; height: 100%;
}
#header {
position: fixed;
left: 0; top: 0;
z-index: 9999;
width: 320px; height: 100%;
background-color: #333;
background-image: linear-gradient( #333, #2E2E2E );
border-right: 1px solid #222;
box-shadow: 0 0 16px rgba( 0,0,0,.5 );
}
#header img {
display: inline-block;
width: auto; height: 100%;
vertical-align: top;
}
.header-title {
background-color: #222;
background-image: radial-gradient( #333, #222 );
border-bottom: 1px solid #181818;
white-space: nowrap;
}
.header-logo {
height: 32px;
padding: 16px 16px 0 8px;
text-align: center;
}
.header-name {
overflow: hidden;
height: 48px;
padding: 0 16px;
text-align: center;
line-height: 48px;
letter-spacing: 0.05em;
text-shadow: 2px 2px 4px #000;
text-overflow: ellipsis;
font-family: 'Roboto', sans-serif;
font-weight: 600;
font-size: 24px;
}
.header-name i {
margin-right: 8px;
vertical-align: 2px;
font-size: 16px;
color: #888;
}
.header-menu-button,
.header-overlay {
display: none;
}
.header-return {
height: 40px;
background-color: #383838;
border-top: 1px solid #444;
}
.header-return-link {
display: block;
height: 100%;
padding: 0 16px;
text-decoration: none;
text-align: center;
line-height: 39px;
font-size: 11px;
color: #EEE;
}
#main {
display: block;
margin: 0 0 0 320px; padding: 0;
background-image: url(https://exastro-suite.github.io/docs/asset/img/content_back.png);
background-color: #F8F8F8;
}
#article {
position: relative;
display: block;
max-width: 900px;
margin: 0 auto;
}
#footer {
position: relative;
z-index: 7998;
display: block;
height: 40px;
margin-left: 320px;
background-color: #FFF;
box-shadow: 0 0 4px rgba( 0,0,0,.2 );
}
.copyright {
line-height: 40px;
text-align: center;
font-size: 12px;
color: #333;
}

/* Content */
.article-header {
padding: 48px 32px 64px;
background-color: #FFF;
}
.article-header-logo {
float: left;
height: 40px;
padding-right: 16px;
}
.article-header-logo img {
display: block;
width: auto; height: 100%;
}
.article-header-name {
float: left;
padding: 0 16px;
border: 1px solid #CCC;
border-radius: 4px;
line-height: 38px;
font-size: 24px;
color: #555;
}
.article-header-name i {
margin-right: 8px;
vertical-align: 2px;
font-size: 18px;
color: #888;
}
.article-header-title {
clear: both;
display: block;
padding-top: 16px;
}
.article-header h1 {
margin-bottom: 24px; padding: 0;
line-height: 1.25;
font-size: 48px;
font-weight: bold;
color: #002B62;
}
.article-header-info-list {
letter-spacing: -0.4em;
}
.article-header-info-item {
display: inline-block;
padding: 4px;
letter-spacing: normal;
}
.article-header-info-card {
border: 1px solid #62AFA1;
border-radius: 4px;
font-size: 12px;
}
.article-header-info-title {
padding: 4px 8px;
background-color: #62AFA1;
color: #FFF;
}
.article-header-info-body {
padding: 4px 8px;
text-align: center;
color: #333;
}

.article-section {
padding: 0 32px 96px;
background-color: #FFF;
}
.article-section h2 {
margin: 128px -32px 24px; padding: 48px 40px;
background-image: url(https://exastro-suite.github.io/docs/asset/img/footer_background.png), linear-gradient( 45deg, #4CA393, #1C7E6C );
background-size: auto 150%, 100% 100%;
background-repeat: no-repeat;
background-position: right;
border-bottom: 4px solid #F7931E;
line-height: 1.25;
font-size: 32px;
color: #FFF;
}
.article-section h2:first-child {
margin-top: 0;
}
.article-section h3 {
margin: 64px 0 24px; padding: 16px 24px;
background-image: linear-gradient( #4CA393, #1C7E6C );
background-clip: padding-box;
border: none;
border-bottom: 8px double #1C7E6C;
line-height: 1.25;
font-size: 28px;
color: #FFF;
}
.article-section h4 {
margin: 64px 0 24px; padding: 8px 24px;
background-image: linear-gradient( #FFF, #EEE );
border: 1px solid #BBB;
border-top: 4px solid #1C7E6C;
border-radius: 0 0 8px 8px;
line-height: 1.25;
font-size: 24px;
color: #1C7E6C;
}
.article-section h5 {
margin: 48px 0 24px; padding: 0 8px 0 12px;
border-left: 8px solid #1C7E6C;
line-height: 1.5;
font-size: 20px;
font-weight: bold;
color: #1C7E6C;
}
.article-section h6 {
margin: 24px 0 8px; padding: 0;
line-height: 1.75;
font-weight: bold;
font-size: 16px;
color: #555;
}
.article-section h6::before {
content: '';
display: inline-block;
width: 16px; height: 16px;
margin-right: 8px;
background-color: #333;
border-radius: 50%;
vertical-align: middle;
}
.article-section p {
margin: 0 0 24px;
line-height: 1.9;
font-size: 16px;
color: #333;
}
.article-section figure {
display: block;
margin: 0 0 24px;
}
.article-section p img,
.article-section figure img {
width: 100%; height: auto;
vertical-align: top;
}
.article-section ul,
.article-section ol,
.article-section dl {
margin: 0 0 24px 2em;
}
.article-section ul:last-child,
.article-section ol:last-child {
margin-bottom: 0;
}
.article-section li {
margin: 0.5em 0;
line-height: 1.75;
font-size: 16px;
color: #333;
}
.article-section dt,
.article-section dd {
line-height: 1.75;
font-size: 16px;
color: #333;
}
.article-section dt {
font-weight: bold;
}
.article-section dd {
margin-left: 1em;
}
.article-section code.highlighter-rouge {
margin: 0 .3em; padding: 0 .3em;
background-color: #F6F8FA;
border: solid 1px #dce6f0;
font-family: Consolas, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
color: #7B7C7D;
}
.article-section div.highlighter-rouge {
overflow: auto;
margin: 0 -32px 24px; padding: 8px 32px;
background-color: #F6F8FA;
border-top: solid 1px #dce6f0;
border-bottom: solid 1px #dce6f0;
line-height: 1.75;
font-size: 14px;
font-family: Consolas, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
color: #7B7C7D;
}
.highlighter-rouge .linemarker {
float: left;
margin-right: 16px; padding-right: 8px;
border-right: 1px solid #dce6f0;
color: #9AA1A8;
}
.article-section table {
border-collapse: collapse;
margin: 0 0 24px;
}
.article-section th,
.article-section td {
padding: 4px 8px;
border: 1px solid #666;
line-height: 1.75;
font-size: 16px;
color: #333;
word-break: break-all;
}
.article-section th {
vertical-align: middle;
}
.article-section thead th {
background-color: #57A99A;
color: #FFF;
}
.article-section tbody th {
background-color: #D2E8E4;
text-align: left;
color: #1F8C78;
}
.article-section h2 + h3,
.article-section h3 + h4,
.article-section h4 + h5,
.article-section h5 + h6 {
margin-top: 0;
}
.article-section em {
font-style: normal;
color: #D00;
}
.article-section strong {
font-weight: bold;
color: #D00;
}
.article-section pre em {
color: #DD0;
}
p.check,
p.info,
p.warning,
p.alert {
position: relative;
padding: 24px 24px 24px 112px;
border-left: 4px solid #CCC;
}
p.check::before,
p.info::before,
p.warning::before,
p.alert::before {
content: "";
display: flex;
align-items: center;
justify-content: center;
position: absolute;
left: 0; top: 0;
width: 88px; height: 100%;
background-color: rgba( 255,255,255,.5 );
font-family: "Font Awesome 5 Free";
font-weight: 900;
font-size: 32px;
}
p.check {
background-color: #DFF4CF;
border-color: #60C60D;
}
p.check::before {
content: "\f058";
color: #60C60D;
}
p.info {
background-color: #D1E7EF;
border-color: #1B86AD;
}
p.info::before {
content: "\f05a";
color: #1B86AD;
}
p.warning {
background-color: #FFE0CE;
border-color: #FF821E;
}
p.warning::before {
content: "\f071";
color: #FF821E;
}
p.alert {
background-color: #F8CCCC;
border-color: #DD0000;
}
p.alert::before {
content: "\f057";
color: #DD0000;
}
.article-image-link {
overflow: hidden;
display: block;
position: relative;
}
.article-image-link img {
position: absolute;
left: 0; top: 0;
}

/* 1-1-1-1-1 Heading counter */
article {
counter-reset: heading2;
}
h2 {
counter-increment: heading2;
counter-reset: heading3;
}
h2::before {
content: counters(heading2, '-') '. ';
}
h3 {
counter-increment: heading3;
counter-reset: heading4;
}
h3::before {
content: counter(heading2) '-' counter(heading3) '. ';
}
h4 {
counter-increment: heading4;
counter-reset: heading5;
}
h4::before {
content: counter(heading2) '-' counter(heading3) '-' counter(heading4) '. ';
}
/*
h5 {
counter-increment: heading5;
counter-reset: heading6;
}
h5::before {
content: counter(heading2) '-' counter(heading3) '-' counter(heading4) '-' counter(heading5) '. ';
}
*/

#topMove {
position: fixed;
bottom: -64px; right: 8px;
z-index: 8999;
width: 48px; height: 48px;
line-height: 48px;
transition-duration: 0.3s;
}
#topMove a {
display: block;
width: 100%; height: 100%;
background-color: #333;
border-radius: 4px;
box-shadow: 0 0 1px 2px rgba( 255,255,255,0.8 );
text-align: center;
vertical-align: bottom;
font-size: 24px;
color: #FFF;
}
#topMove a.hover {
background-color: #4D4D4D;
}
#topMove a span {
display: none;
}
#topMove a i {
transition-duration: 0.3s;
line-height: inherit;
}
#topMove a.hover i {
transform: translateY(-2px);
}



/* -------------------------------------------------- **

   1220px

** -------------------------------------------------- */
@media screen and ( max-width: 1220px ){

#header {
overflow: hidden;
width: 100%; height: 32px;
background-color: rgba( 0,0,0,0 );
background-image: none;
border: none;
box-shadow: none;
}
#header.open {
height: 100%;
}
#header::before {
content: '';
position: absolute;
z-index: -1;
width: 100%; height: 32px;
background-color: #222;
border-bottom: 1px solid #181818;
}
.header-overlay {
display: block;
position: absolute;
left: 0; top: 0;
z-index: -2;
width: 100%; height: 100%;
background-color: rgba( 0,0,0,0 );
transition-duration: .3s;
transition-property: background;
}
.open .header-overlay {
background-color: rgba( 0,0,0,.5 );
}
.header-title {
display: inline-flex;
max-width: calc( 100% - 32px );
border: none;
}
.header-title > div {
min-width: 0;
}
.header-logo {
flex: 1 0 auto;
padding: 8px 4px 8px 8px;
}
.header-name {
flex: 1 1 auto;
height: 32px;
padding: 0 8px 0 4px;
line-height: 32px;
font-size: 16px;
}
.header-name i {
font-size: 12px;
}
.header-menu-button {
overflow: hidden;
display: block;
position: absolute;
right: 0; top: 0;
width: 32px; height: 32px;
}
.header-menu-button::before,
.header-menu-button::after {
content: '';
display: block;
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 16px; height: 2px;
background-color: #EEE;
transition-duration: .3s;
}
.header-menu-button::before {
top: 25%;
}
.header-menu-button::after {
bottom: 25%;
}
.header-menu-button-mark {
position: absolute;
left: 50%; top: 50%;
z-index: 10;
transform: translate(-50%,-50%);
width: 16px; height: 2px;
background-color: #EEE;
transition-duration: .3s;
}
.open .header-menu-button::before {
top: 50%;
transform: translate(-50%,-50%) rotate(45deg);
}
.open .header-menu-button::after {
bottom: 50%;
transform: translate(-50%,50%) rotate(-45deg);
}
.open .header-menu-button-mark {
left: 150%;
}
#document #articleNavi {
width: calc( 100% - 64px ); max-width: 640px;
height: calc( 100% - 32px );
background-color: #333;
background-image: linear-gradient( #333, #2E2E2E );
}
.header-return {
width: 320px;
}
#articleNavi,
.header-return {
transform: translateX(-100%);
transition-duration: .3s;
transition-property: transform;
border-right: 1px  solid #111;
}

#header.open #articleNavi,
#header.open .header-return {
transform: translateX(0);
}
#main {
margin: 0;
padding-top: 32px;
}
#footer {
margin: 0;
}

}

/* -------------------------------------------------- **

   640px

** -------------------------------------------------- */
@media screen and ( max-width: 640px ){

.article-header {
padding: 16px;
}
.article-header-logo {
height: 20px;
padding-right: 12px;
}
.article-header-name {
padding: 0 12px;
line-height: 18px;
font-size: 12px;
}
.article-header-name i {
font-size: 10px;
}
.article-header-title {
padding-top: 12px;
}
.article-header h1 {
margin-bottom: 16px;
font-size: 24px;
}
.article-header-info-item {
padding: 2px;
}
.article-header-info-card {
font-size: 10px;
}
.article-header-info-title,
.article-header-info-body {
padding: 2px 8px;
}
.article-section {
padding: 0 16px 48px;
}
.article-section h2 {
margin: 64px -16px 16px; padding: 24px 16px;
font-size: 16px;
}
.article-section h2:first-child {
margin-top: 0;
}
.article-section h3 {
margin: 32px 0 16px; padding: 12px 16px;
font-size: 14px;
}
.article-section h4 {
margin: 32px 0 16px; padding: 8px 16px;
border-top-width: 2px;
font-size: 12px;
}
.article-section h5 {
margin: 24px 0 16px; padding: 0 8px 0 12px;
border-left-width: 4px;
font-size: 12px;
}
.article-section h6 {
margin: 16px 0 8px;
font-size: 12px;
}
.article-section h6::before {
width: 12px; height: 12px;
}
.article-section p {
margin: 0 0 16px;
font-size: 12px;
}
.article-section figure {
margin: 0 0 16px;
}
.article-section ul,
.article-section ol {
margin: 0 0 16px 2em;
}
.article-section li {
font-size: 12px;
}
.article-section th,
.article-section td {
font-size: 12px;
}
.article-section .highlighter-rouge {
margin: 0 -16px 16px; padding: 8px 16px;
font-size: 12px;
}
.article-section h2 + h3,
.article-section h3 + h4,
.article-section h4 + h5,
.article-section h5 + h6 {
margin-top: 0;
}
p.check,
p.info,
p.warning,
p.alert {
position: relative;
padding: 16px 16px 16px 64px;
border-left-width: 2px;
}
p.check::before,
p.info::before,
p.warning::before,
p.alert::before {
width: 48px;
font-size: 20px;
}
.copyright {
font-size: 10px;
}
.article-section div.highlighter-rouge {
margin: 0 -16px 24px;
font-size: 12px;
}

}

/* -------------------------------------------------- **

   Highlight

** -------------------------------------------------- */
.highlight,.highlight .w{color:#333}.highlight .err{color:#002b36;background-color:#dc322f}.highlight .c,.highlight .cd,.highlight .cm,.highlight .c1,.highlight .cs{color:#657b83}.highlight .cp{color:#b58900}.highlight .nt{color:#b58900}.highlight .o,.highlight .ow{color:#93a1a1}.highlight .p,.highlight .pi{color:#93a1a1}.highlight .gi{color:#859900}.highlight .gd{color:#dc322f}.highlight .gh{color:#268bd2;background-color:#002b36;font-weight:bold}.highlight .k,.highlight .kn,.highlight .kp,.highlight .kr,.highlight .kv{color:#6c71c4}.highlight .kc{color:#cb4b16}.highlight .kt{color:#cb4b16}.highlight .kd{color:#cf222e}.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .sh,.highlight .sx,.highlight .s1{color:#859900}.highlight .sr{color:#2aa198}.highlight .si{color:#d33682}.highlight .se{color:#d33682}.highlight .nn{color:#b58900}.highlight .nc{color:#b58900}.highlight .no{color:#b58900}.highlight .na{color:#268bd2}.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .il,.highlight .mo,.highlight .mb,.highlight .mx{color:#859900}.highlight .ss{color:#859900}